body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', arial;
  margin: 0;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 16px 150px;
}

.logo {
  align-items: center;
  font-weight: bold;
}

.logo-img {
  width: auto;
  height: 48px;
}

.header div {
  display: flex;
  gap: 16px;
}

.header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0 96px 0;
  gap: 16px;
}

.hero { 
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 8px;
}
.hero .main {
  font-size: 48px;
  font-weight: bolder;
}

.hero .secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.hero .sign-up {
  padding: 12px 48px;
  border-radius: 14px;
  background-color: #3882F6;
  margin-right: auto;
}

.skeleton {
  height: 300px;
  width: auto;
}

.header,
.header-info {
  background-color: #1F2937;
  color: #F9FAF8;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 35px;
}

.info-content {
  display: flex;
  flex-wrap: wrap;
}

.info-img {
  width: 150px;
  height: auto;
  border: 3px solid  #3882F6;
  border-radius: 25px;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  color: #1F2937;
  text-align: center;
  margin: 24px;
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 48px 0;
  align-items: center;
  background-color: #E5E7EB;
  gap: 12px;
}

.quote div {
  width: 500px;
  color: #1F2937;
}

.r-quote {
  font-style: italic;
  font-size: 36px;
}

.robert {
  font-size: 12px;
  font-weight: bold;
  margin-left: 650px;
}

.footer-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882F6;
  width: 600px;
  height: 100px;
  margin: 75px auto 75px auto;
  gap: 75px;
  border-radius: 14px;
  color:  #F9FAF8;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.action-click {
  font-size: 10px;
}

.sign-up {
  border: 2px solid #F9FAF8;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 12px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 12px;
}

#learn {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}